.tela_funcionamento{
  width: 80dvh;
  max-width: 1440px;
  min-height: 100dvh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 0 5vh 0;


}