/*Importação das variaveis*/
@use "../abstracts/variable";

/* estilizando tela(3) de coleta de palavras */
#coletor_palavra {

    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    gap: 36px;


    /* (INICIO)estilizando elementos que pertencem a section #coletor_palavras  */







    /* (FIM)estilizando elementos que pertencem a section #coletor_palavras  */


    /* (INICIO) estilizando os inputs que recebe a palavra e as dicas */
    & div.tema_palavra {
        width: 55%;
        min-width: 300px;
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;

        div.container_inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: left;
            gap: 36px;



            /* estilizando o alerta caso o texto não for mensionado */
            & .palavra,
            & .tema {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                gap: 10px;
                transition: ease-in-out .2s;


                // estolização do input
                & input.input_coletor {
                    width: 100%;
                    min-width: 50dvw;
                    max-width: fit-content;
                    min-height: 7dvh;
                    max-height: fit-content;
                    border-radius: 20px;
                    outline: none;
                    border: solid 6px var(--buttom_js);
                    /*esta cor ira ser trabalhada no js posteriormente*/
                    font-size: 18px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2.5%;
                    color: #252528;
                    font-weight: bold;
                    transition: ease-in-out .2s;


                    /* estilizando o placeholder do input */
                    &::placeholder {
                        font-size: 20px;
                        position: absolute;
                        left: 2.5%;
                        font-weight: bold;
                        color: variable.$cor_letra_cinza_claro;
                    }

                    /* estilizando o input ativado */
                    &:focus {
                        transform: scale(1.05);
                    }


                }

                /* estilizando sinal de alerta */
                & div {

                    transition: ease-in-out .2s;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    min-width: 50px;
                    max-width: 50px;
                    min-height: 50px;
                    max-height: 50px;
                    font-size: 40px;
                    border-radius: 15px;
                    background-color: var(--buttom_js);
                    /*esta cor ira ser trabalhada no js posteriormente*/
                    color: variable.$cor_letra_branca;


                }
            }
        }

    }




    & footer {
        position: absolute;
        bottom: 5%;
        right: 2%;
        margin: 10px;
    }



    /* (FIM) estilizando os inputs que recebe a palavra e as dicas */

}