/* cores trabalhadas posteriomente no js */
:root{
    --buttom_js: #ffd490;
    --letra_forca_js:#fff;
    
    /* paleta de cor */
    --color_0:#f4f4f4;
    --color_1:#ffffff;
    --color_2:#75a0ff;
    --color_3:#f0af7d;
    --color_3_1:#d59b6f;
    --color_4:#2a2c2f;
    --color_5:#313336;
    --color_6:#38393c;
    --color_7:#48494d;

    
}

/*(INICIO) VARIAVEIS CSS */

    

/* cores dos fundos */
$cor_fundo_escuro:rgb(33, 33, 36);
$cor_fundo:rgb(40, 40, 44);
$cor_fundo_claro: #3c3d41;
$cor_fundo_bege:#ffd490;
/* cores das letras */
$cor_letra_branca: #fff;
$cor_letra_verde: #11be90;
$cor_letra_cinza_claro: #AFB6BB;
$cor_erro:#ab0944;
/* font-family */
$font_gameficada: "Silkscreen", sans-serif;
$font_padrao: "Fira Sans", sans-serif;

/* cores dos botões */
$cor_buttom: #038764;
$cor_buttom_hover: #09ab80;

/* cores trabalhadas posteriomente no js */

